.headerPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*(space-between- espacio entre elementos)*/
}

.headerPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;

}

.rodapePrincipal-navMap-list {
    display: flex;
    flex-direction: column;
    /*poner los elementos en columnas*/
    height: 250px;
    flex-wrap: wrap;
    /*Para arreglar nuestra situación debemos decirle a flex que no desborde
                       el contenido, de manera que cuando el contenido exceda el tamaño del 
                       padre, simplemente se rompa a la siguiente columna. Para ello utilizamos */

}

.contenidoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;


}

.contenidoPrincipal-cursos-link {
    display: flex;
    width: 23%;
}

.videoSobre .container {
    display: flex;
    
}

.videoSobre-sobre{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.videoSobre-video{
    flex-grow: 2;
    flex-shrink: 2;
}

.videoSobre-sobre-list{
    flex-grow: 2;
}





/*responsive-------------------------*/
@media (max-width:768px) {

    .headerPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .headerPrincipal-nav {
        flex-direction: column;
    }

    .contenidoPrincipal-cursos {
        flex-direction: column;

    }

    .contenidoPrincipal-cursos-link {
        width: 100%;
    }

    .rodapePrincipal-navMap-list {
        height: auto;
        flex-wrap: nowrap;
    }

    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
    }

    .rodapePrincipal-contatoForm {
        width: 100%;
    }

    .rodapePrincipal-patrocinadores-list {
        align-items: center;
        width: 100%;
        margin: 0%;
    }

    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }
}

.headerPrincipal-nav-link-app{
    order:-1;
}

.videoSobre .container{
    flex-direction: column;
}
